*{
    margin: 0;
    padding: 0;
}

body{
    background-color: aquamarine;
    text-align: center;
}

.game{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.boxes{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 20px;
    border: none;
    background-color: pink;
    font-size: 8vmin;
    color: blue;
}

.upcontainer{
    height: 18vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

#newbtn{
    height: 6vmin;
    padding: 5px;
    border-radius: 8px;
    border: none;
    background-color: aqua;
    color:darkblue;
}

#reset{
    height: 6vmin;
    padding: 5px;
    border-radius: 8px;
    border: none;
    background-color: aqua;
    color: darkblue;
}

#show{
    font-size: 2rem;
    color: darkblue;
}

.hide{
    display: none;
}